<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-rightscale-index") %>>
          <a href="/docs/providers/rightscale/index.html"> Provider</a>
        </li>

        <li<%= sidebar_current("docs-rightscale-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-rightscale-datasource-cloud") %>>
              <a href="/docs/providers/rightscale/d/cm_cloud.html">rightscale_cloud</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-credential") %>>
              <a href="/docs/providers/rightscale/d/cm_credential.html">rightscale_credential</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-datacenter") %>>
              <a href="/docs/providers/rightscale/d/cm_datacenter.html">rightscale_datacenter</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-deployment") %>>
              <a href="/docs/providers/rightscale/d/cm_deployment.html">rightscale_deployment</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-image") %>>
              <a href="/docs/providers/rightscale/d/cm_image.html">rightscale_image</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-instance") %>>
              <a href="/docs/providers/rightscale/d/cm_instance.html">rightscale_instance</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-multi_cloud_image") %>>
              <a href="/docs/providers/rightscale/d/cm_multi_cloud_image.html">rightscale_multi_cloud_image</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-network_gateway") %>>
              <a href="/docs/providers/rightscale/d/cm_network_gateway.html">rightscale_network_gateway</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-network") %>>
              <a href="/docs/providers/rightscale/d/cm_network.html">rightscale_network</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-route_table") %>>
              <a href="/docs/providers/rightscale/d/cm_route_table.html">rightscale_route_table</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-security_group") %>>
              <a href="/docs/providers/rightscale/d/cm_security_group.html">rightscale_security_group</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-server_template") %>>
              <a href="/docs/providers/rightscale/d/cm_server_template.html">rightscale_server_template</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-server") %>>
              <a href="/docs/providers/rightscale/d/cm_server.html">rightscale_server</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-ssh-key") %>>
              <a href="/docs/providers/rightscale/d/cm_ssh_key.html">rightscale_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-subnet") %>>
              <a href="/docs/providers/rightscale/d/cm_subnet.html">rightscale_subnet</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-volume_snapshot") %>>
              <a href="/docs/providers/rightscale/d/cm_volume_snapshot.html">rightscale_volume_snapshot</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-volume_type") %>>
              <a href="/docs/providers/rightscale/d/cm_volume_type.html">rightscale_volume_type</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-datasource-volume") %>>
              <a href="/docs/providers/rightscale/d/cm_volume.html">rightscale_volume</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-rightscale-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-rightscale-resource-credential") %>>
              <a href="/docs/providers/rightscale/r/cm_credential.html">rightscale_credential</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-deployment") %>>
              <a href="/docs/providers/rightscale/r/cm_deployment.html">rightscale_deployment</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-instance") %>>
              <a href="/docs/providers/rightscale/r/cm_instance.html">rightscale_instance</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-network_gateway") %>>
              <a href="/docs/providers/rightscale/r/cm_network_gateway.html">rightscale_network_gateway</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-network") %>>
              <a href="/docs/providers/rightscale/r/cm_network.html">rightscale_network</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-route_table") %>>
              <a href="/docs/providers/rightscale/r/cm_route_table.html">rightscale_route_table</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-route") %>>
              <a href="/docs/providers/rightscale/r/cm_route.html">rightscale_route</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-security_group_rule") %>>
              <a href="/docs/providers/rightscale/r/cm_security_group_rule.html">rightscale_security_group_rule</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-security_group") %>>
              <a href="/docs/providers/rightscale/r/cm_security_group.html">rightscale_security_group</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-server_array") %>>
              <a href="/docs/providers/rightscale/r/cm_server_array.html">rightscale_server_array</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-server") %>>
              <a href="/docs/providers/rightscale/r/cm_server.html">rightscale_server</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-ssh_key") %>>
              <a href="/docs/providers/rightscale/r/cm_ssh_key.html">rightscale_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-subnet") %>>
              <a href="/docs/providers/rightscale/r/cm_subnet.html">rightscale_subnet</a>
            </li>
            <li<%= sidebar_current("docs-rightscale-resource-cwf_process") %>>
              <a href="/docs/providers/rightscale/r/cwf_process.html">rightscale_cwf_process</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
